<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head')%>
</head>
<body>
    <header>
        <%- include('../layout/header')%>
    </header>
    <main>
        <h1>General Knowledge Quiz</h1>
        <div class="quiz-container">
            <div class="quiz-info">
              Time <span id="timer">0</span>
            </div>
      </div>

                <%- include('./partials/question', {choice: data} ) %>

        <%- include('./partials/result' ) %>
    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>

</html>