<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head')%>
</head>
<body>
    <header>
        <%- include('../layout/header')%>
    </header>
    <main>
        <h1>General Knowledge Quiz</h1>
        <div class="game-info-container">
            <div class="game-info">
              Time <span id="time-remaining">0</span>
            </div>
      </div>
        <% data.forEach(question => { %>
            <h3 id="question"><%- question.question %></h3>
                <%- include('./partials/question', {choice: question.full_arr} ) %>
            <% }) %>
    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>

</html>