<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head')%>
</head>

<body>
    <header>
        <%- include('../layout/header')%>
    </header>
    <main>
        <section>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Difficulty</th>
                    <th>Score</th>
                    <th>Time</th>
                </tr>
                <% scores.forEach(score => {%>
                    <tr>
                        <td><%= score.name %></td>
                        <td><%= score.difficulty %></td>
                        <td><%= score.score %></td>
                        <td><%= score.time %></td>
                    </tr>
                    <%})%>
            </table>
        </section>
    </main>
</body>

</html>